[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible-bender = "*"
autopep8 = "*"
flake8 = "*"
pylint = "*"
pytest = "*"
selinux = "*"

[packages]
rtls = {editable = true, path = "./service"}
