[project]
	description = RTLS, or Real Time Locator System, is an abstraction layer for tracking changes to code through their lifecycle
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jguiditta
[access "refs/for/refs/*"]
	read = group user/jguiditta
	push = group user/jguiditta
	label-Code-Review = -2..+2 group user/jguiditta
	label-Verified = -1..+1 group user/jguiditta
	rebase = group user/jguiditta
	removeReviewer = group user/jguiditta
	submit = group user/jguiditta
[access "refs/heads/*"]
	read = group user/jguiditta
	create = group user/jguiditta
	push = +force group user/jguiditta
	pushMerge = group user/jguiditta
[access "refs/tags/*"]
	push = group user/jguiditta
	push = +force group user/jguiditta
